<nav class="navbar fixed-bottom navbar-light bg-light">
    <!-- < class="navbar-brand"> -->
    <div class="nav">

    <li class="nav-item-1 d-flex justify-content-center">
        <a routerLink="/candidate-search"><a class="nav-link active"  href="#"> <img src="../../../../assets/images/home-svgrepo-com.svg" alt="" class="" srcset="" height="30px" width="35px"></a>  </a>
      </li>
      <h5 id="home">Candidates</h5>
      <li class="nav-item-2">
        <a routerLink="/company-profile"><a class="nav-link" href="#"><img src="../../../../assets/images/person-svgrepo-com (3).svg" alt="" class="" srcset="" height="30px" width="40px"> </a></a>
      </li>
       <h5 id="profile">Profile</h5>

       <li class="nav-item-4">
        <a routerLink="/job-post"><a class="nav-link" href="#"><img src="../../../../assets/images/create-link-svgrepo-com.svg" alt="" class="" srcset="" height="30px" width="40px"> </a></a>
      </li>
       <h5 id="posting">Posting</h5>

      <li class="nav-item-3">
        <a routerLink="/home"> <a class="nav-link" (click)="logout()"><img src="../../../../assets/images/log-out-svgrepo-com.svg" alt="" class="" srcset="" height="26px" width="30px"></a></a>
        <h5 id="logout">Logout</h5>
      </li>
     <!-- <li class="nav-item-4"></li>
      <h5 id="logout">Log out</h5> -->

      <!-- <li class="nav-item-4">
        <a routerLink="/home"> <a class="nav-link" href="#"><img src="../assets/log-out-svgrepo-com.svg" alt="" class="" srcset="" height="26px" width="30px"></a></a>
      </li>
      <h5 id="logout">Logout</h5> -->

    </div>
