// @media only screen and (min-width: 992px)  {

input {
    // display: inline-block;
    padding: 1rem;
    margin: 7px;
    box-sizing: border-box;
    border-radius: 30px;
    padding-left: 70px;
    padding-right: 70px;
}
#text{
    background-color: #010144;
    color: white;
    justify-items: center;
    // width: 100%;
    height: 81px;
    text-align: center;
    // align-items: center;
    // border: 10px;
    // border: 7px solid #010144;
    // margin-top: 40px;

}

.btn {
    margin-left: 35%;
    border-radius: 30px;
    width: 140px;
    height: 50px;
    background-color: #3A015C;
    border: #3A015C;
    margin-top: -18px;
    
}
 
.container{
    background-color: lightgrey;
    width: 350px;
    height: 680px;
    align-content: center;
    align-items: center;
    margin-left: 7%;
    border-radius: 30px;
    padding: 15px;
    margin: 40px;
    margin-top: 3%;
    

}



#dateOfBirth {
    align-content: center;
    align-items: center;
}

h2{
    // position: relative;
    margin-top: -30px;
    right: 30px;
}



img {
    padding: 5px;
    // margin: 56px;
    padding-bottom: 2px;
}

h3 {
    // padding-top: 20px;
    align-content: center;
    font-size: larger;
    font-weight: bolder;
}
.left {
    // position: relative;
    padding-top: 20px;
    margin-right: 75%;

}



.form-control{
    border-radius: 30px;
    padding: 16px 70px;
    margin: 7px;
}





