
#text{
    background-color: #010144;
    color: white;
    justify-items: center;
    // width: 100%;
    height: 81px;
    text-align: center;
    // align-items: center;
    // border: 10px;
    // border: 7px solid #010144;
    // margin-top: 2%;

}
.experience {
   font-size: 18px;
   font-weight: bold;
}

h2{
    // position: relative;
    margin-top: -30px;
    right: 30px;
}

.left {
    // position: relative;
    padding-top: 20px;
    margin-right: 75%;

}


.container-3 {
    background-color: lightgray;
    height: 200px;
    width: 385px;
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 2%;
}

.container-4 {
    background-color: lightgrey;
    height: 160px;
    width: 385px;
    margin-top: 4%;
    border-radius: 20px;
    margin-left: 2%;
}

h5 {
    padding: 25px;
    font-size: x-large;
    font-weight: bolder;
    
}

h6 {
    padding: 23px;
    font-size: x-large;
    font-weight: bolder;
    
}

#ayabonga {
    border-radius: 50%;
    // margin-top: 40px;
    
}

.profile {
    display: flex;
    justify-content: center;
}

.content {
    align-items: center;
    justify-content: center;
    // text-align: center;
    margin-top: 4%;
}


#create {
    background-color: white;
    margin-top: 5%;
    width: 140px;
    padding-left: 4%;

}

#team {
    background-color: white;
    margin-top: 2%;
    width: 137px;
    padding-left: 4%;

}

#time {
    background-color: white;
    margin: 5px;
    font-size: 45px;
}




.btn {
    margin-left: 20%;
    margin-top: 4%;
    width: 230px;
    height: 56px;
    font-weight: bolder;
    background-color: #3A015C;
    border: #3A015C;
}

.pen {
    margin-left: 18%;
    margin-bottom: 2%;
    height:25px ;
    width: 25px;
    
}

.pencil {
    margin-left: 55%;
    height: 25px;
    width: 25px;
}

.tool {
    margin-right: 1%;
    margin-bottom: 3%;
    height: 25px;
    width: 25px;
}

.case {
    margin-right: 1%;
    margin-bottom: 2%;
}

p {
    margin-top: 2%;
    margin-left: 37%;
}

h3{
    margin-top: -30px; 
    margin-left: 40%;
}






