
.row{
    margin: 0;
    padding:0 ;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sakhono-logo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  
}

span{
    position: relative;
  top: 70px; 
  padding: 0 30px;
  
  
}


.navReg{
    font-weight: bolder;
    font-size: xx-large;
    color: rgb(189, 188, 188);
}

.navLog{
    font-weight: bolder;
    font-size: xx-large;
    
    
}

.card-auth{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    width: 400px;
    height: 300px;
    position: relative;
    top: 130px;
    
}

h3{
    font-weight: bolder;
    font-style: italic;
    font-size: 40px;
    position: relative;
    top: 90px;
    margin-left: 60px;
}

#email{
    margin: 15px;
}

#emailInput{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-color: white;
    width: 300px;
    height: 50px;
    font-weight: bold;
    font-size: 17px;
    color: black;
}

#password{
    margin: 15px;
}

#passwordInput{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-color: white;
    width: 300px;
    height: 50px;
    font-weight: bold;
    font-size: 17px;
    color: black;
    

}

#forgotPassword{
    color: navy;
    font-size: 19px;
    font-weight: bold;
    margin-top: 4px;
    
}

#signinButton{
    background-color: indigo;
    border-radius: 10px;
    color: white;
    height: 50px;
    width: 100px;
    font-weight: bolder;
    font-size: 20px;
    position: relative;
    top: 110px;
    margin-left: 30px;
    
   
}

#noAccount{
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    padding: 0 30px;
    position: relative;
    top: 120px;
}

#registerName{
    color: purple;
}

#buttonForsignin{
    text-align: center;
    padding-right: 35px;
}

.left {
    margin-top: 2%;
}

#alert{
    position: relative;
    top: 50px;
}


//FOR DESKTOP
@media only screen and (min-width: 929px) {
    

.row{
    margin: 0;
    padding:0 ;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sakhono-logo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

span{
    position: relative;
  top: 70px; 
  padding: 0 30px;
  
  
}


.navReg{
    font-weight: bolder;
    font-size: xx-large;
    color: rgb(189, 188, 188);
}

.navLog{
    font-weight: bolder;
    font-size: xx-large;
    
    
}

.card-auth{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    width: 400px;
    height: 300px;
    position: relative;
    top: 130px;
    
    
}

h3{
    font-weight: bolder;
    font-style: italic;
    font-size: 40px;
    position: relative;
    top: 90px;
    margin-left: 60px;
}

#email{
    margin: 15px;
}

#emailInput{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-color: white;
    width: 300px;
    height: 50px;
    font-weight: bold;
    font-size: 17px;
    color: black;
}

#password{
    margin: 15px;
}

#passwordInput{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-color: white;
    width: 300px;
    height: 50px;
    font-weight: bold;
    font-size: 17px;
    color: black;
    

}

#forgotPassword{
    color: navy;
    font-size: 19px;
    font-weight: bold;
    margin-top: 4px;
    
}

#signinButton{
    background-color: indigo;
    border-radius: 10px;
    color: white;
    height: 50px;
    width: 100px;
    font-weight: bolder;
    font-size: 20px;
    position: relative;
    top: 110px;
   
}

#noAccount{
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    padding: 0 30px;
    position: relative;
    top: 120px;
}

#registerName{
    color: purple;
}

#buttonForsignin{
    text-align: center;
    padding-right: 35px;

}

.left {
    margin-top: 2%;
}
}