<div class="auth-avatar">
  <img onclick="window.history.go(-1)"  src="../../../../assets/images/left-arrow-backup-2-svgrepo-com (4).svg" alt="" class="left" srcset="" height="30px" width="30px"> 
   <img src="../../../../assets/images/sakhono.png" height="180px" alt="sakhono-logo" class="sakhono-logo">
</div>

<div class="card-body auth-card d-flex justify-content-center">
  <span style="margin-right: 30px;" class="navReg"><a routerLink="/register-user">Register</a> </span>
  <span class="navLog"><a routerLink="/sign-in">Login</a></span>
</div>

<!-- <div>
<h3>Welcome Back</h3>
</div> -->

<div class="text-center register" id="noAccount">
  Don`t have an account ? <a routerLink="/register-user" id=registerName>Register</a> here.
</div>

<div class="row d-flex justify-content-center ">
    <div class="col offset-col-offset d-flex justify-content-center">
      <div class="card-auth d-flex justify-content-center">
       
          <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="form-group" id="email">
              <!-- <label for="email">Email : </label> -->
              <input 
                type="text" name="email" 
                class="form-control" placeholder="full name"id="emailInput"
                name="username"
                [(ngModel)]="form.username"
                required
                #username="ngModel" required
                [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
                >
            </div>
            <div class="form-group" id="password">
              <!-- <label for="password">Password : </label> -->
              <input 
                type="password" 
                name="password" class="form-control" 
                placeholder="Password"  id="passwordInput"
                [(ngModel)]="form.password"
                required
                minlength="8"
                #password="ngModel" required
                [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
                >
              <div class="text-right forget-pass">
                <!-- <a routerLink="/forget-password" id="forgotPassword">Forget Password ?</a> -->
              </div>
            </div>
            <div class="text-center" id="buttonForsignin">
              <input type="submit" class="btn btn-my" value="Login"  id="signinButton">
            </div>
            <div class="alert alert-warning" *ngIf="f.submitted && isLoginFailed" id="alert">
             Failed to Login<br />{{ errorMessage }}
            </div>
          </form>
          
          
          
        </div>
      </div>
    </div>
  
