

  <div id="text">
    <img onclick="window.history.go(-1)" src="../../../../assets/images/left-arrow-backup-2-svgrepo-com (3).svg" alt=""
      class="left" srcset="" height="50px" width="50px">

    <h2>Create Job</h2>
  </div>
<!-- </div> -->
<!-- <div class="container-2">
      <img src="../../../../assets/images/company-logo.jpg" 
      height="90px"> -->

<div class="bio">
  <form name="form" (ngSubmit)="f.form.valid && post()" #f="ngForm" novalidate>
    <div class="form-group" id="jobtitle">
      <label>Job Title :</label>
      <input style="font-size: large;" required
      name="message"
      class="form-control"
      rows="3"
      placeholder="Job Title" id="jobtitle"
        name="jobtitle" [(ngModel)]="form.jobtitle" required #jobtitle="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && jobtitle.errors }">
      
    </div>
    <div class="form-group" id="location">
      <label>Location :</label>
      <input style="font-size: large;" required
                                  name="message"
                                  class="form-control"
                                  rows="3"
                                  placeholder="Location" id="locationInput"
        name="location" [(ngModel)]="form.location" required #location="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && location.errors }">
      
    </div>
    <div class="form-group" id="work_type">
      <label>Work Type :</label>
      <input style="font-size: large;" required
      name="message"
      class="form-control"
      rows="3"
      placeholder="Work Type"
        id="worktypeInput" name="work_type" [(ngModel)]="form.work_type" required #work_type="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && work_type.errors }">
      
    </div>

    <div class="form-group" id="job_description">
      <label>Job Description :</label>
      <textarea style="font-size: large;" required
                                  name="message"
                                  class="form-control"
                                  rows="3"
                                  placeholder="Job description"
                                
        id="job_descriptionInput" name="job_description" [(ngModel)]="form.job_description" required
        #job_description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && job_description.errors }">
      </textarea>
    </div>

    <div class="save-btn">
      <!-- <button onclick="post()" ><a routerLink="/company-posting-job-feedback">
            Post </a></button> -->
            <!-- <span class="alert alert-danger">{{errorMessage}}</span> -->
      <button class="button" type="submit">post</button>
    
    
    </div>
  </form>


</div>
<!-- </div> -->

<!-- <div class="wrapper">
  
        <form class="container-3" >
            <label><b>Skills & Experience required</b></label> <br>
            <textarea class="first" id="" placeholder="Type in Experience"></textarea> <br> -->

<!-- <div class="form-1">
              <label><b>Skills & Experience required</b></label> <br>
              <input id="experience-box" type="text"  placeholder="Type in Experience"  class="first"
                    name="skills-box" ngModel>
            </div> -->

<!-- <label><b>Responsibilities and duties required</b></label> <br>
            <textarea class="second" id="" placeholder="Type in Responsibilities and duties"></textarea>
    
            <label><b>Location</b></label> <br>
            <textarea class="third" id="" placeholder="Type in location"></textarea>
          </form> -->

<!-- </div> -->


<app-company-bottom-navbar></app-company-bottom-navbar>