// @media only screen and (min-width: 50px) {

// @media screen {
   

// h2 {
   
//     text-align: center;
//     color: white;
//     font-weight: 100;
//     margin: 40px;
//     padding: 20px;
//     padding-right: 40%;
//     padding-bottom: 15px;
//     width: 100%;
//     font-size: x-large;
//    //  font-stretch: wider;
    
// }
// .left {
//     position: relative;
//     right: 90px;
//     padding-bottom: 10px;

// }
.search {
    display: flex;
    padding-right: 15px;
    width: 100%;
    position: relative;
    bottom: 30px;
}

// .title {
//     background-color: #010144;
    
// }

Input {
    // align-items: center;
    // padding-right: 30px;
    // margin: 10px;
    // padding: 25px;
    padding-right: 200px;
    border-radius: 20px;
    height: 57px;
   //  text-align: left;
    background-color: lightgray;
    width: 330px;
    margin-top: 10%;
}

button {
    // padding: 15px;
    margin-top: 10%;
    border-radius: 15px;
    background-color: lightgrey;
    padding-left: 18px;
    padding-bottom: 1px;
    // margin-left: -200px;
    width: 60px;
    margin-left: 20px;
    width: 85px;
    

}

 h5 {
    
   //  height: 0px;
    color: #010144;
    font-size: 25px;
    overflow: hidden;
    font-weight: 100;
 }



p{
   // height: 180px !important;
   font-weight: bold;
   font-style: italic;
   overflow: hidden;
   height: 100px;
   overflow: hidden;
}

//  img.card-img-midle{
//     width: 250px;
//     height: 140px;
//     border-radius: 15px;
    
//  }

 .grid-container{
  display: grid;
  display: fit-content;
  grid-template-columns: repeat(2, 2fr);
  gap: 10px;
  grid-auto-rows: minmax(200px, auto);
   // background: rgb(210, 210, 238);
   // width: 350px;
   height:max-content;
   overflow-y: scroll
   
 }

 .card{
   height: 250px;
   background-color: lightgray;
   overflow: scroll;
 }

//  .card{
//    background-color: rgb(210, 210, 238);
//    margin-top: 2%;
//    height: 180px;
//    display: grid;
//    grid-template-columns: repeat(2, 1fr);
//    gap: 10px;
//  }

 h2{
   // position: relative;
   margin-top: -30px;
   right: 30px;
   overflow-y: hidden;
}

.left {
   // position: relative;
   padding-top: 20px;
   margin-right: 75%;

}

 #text{
   background-color: #010144;
   color: white;
   justify-items: center;
   // width: 100%;
   height: 81px;
   text-align: center;
   // align-items: center;
   // border: 10px;
   // border: 7px solid #010144;
   // margin-top: 40px;

}

 .btn {
    height: 40px;
    width: 110px;
    background-color: indigo;
    position: sticky;
   //  bottom: 130px ;
   overflow: hidden;
 }


