// @media only screen and (min-width: 992px)  {

.landing-pic img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

h2 {
    margin-top: 50px;
    margin-bottom: 0.5rem;
    font-weight: 800;
    line-height: 1.2;
    font-size: 30px;
    text-align: center;
}

img{
    width: 50%;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    // margin-top: -200px;
}
.user {
    background: #181860;
    height: 60px;
    font-size: 30px;
    border-radius: 20px;
    // margin-left: 200px;
    // margin-top: 15px;
}
.employer {
    background-color: #800080;
    height: 60px;
    font-size: 30px;
    border-radius: 20px;
    // margin-left: 400px;
    // margin-top: 15px;
}

.sec {
    margin-bottom: 10%;
}

