<div class="container">
  <div class="landing-pic sec">
    <img src="../../assets/images/logo.png" alt="">
  </div>

  <div class="intro sec">
    <h2>
      The app that helps you to  find your dream job according to your skills.    </h2>
  </div>

  <div class="buttons sec"> 
 
<!-- <div class="container-2">   
  <div class="landing-pic sec">
    <img src="../../assets/images/Construction img.jpg" alt="">
  </div> -->

  <a routerLink="/register-user" class="btn btn-primary user" >Job Seeker</a>

  <a routerLink="/company-register" class="btn btn-success employer" >Employer</a>
</div>