.container {
    background-color:lightgrey;
    margin-top: 10%;
    width:400px;
    height: 350px;
}

.correct {
    margin-left: 35%;
    margin-top: 5%;
}

h2 {
    margin-left: 30%;
    margin-bottom: 6%;
    margin-top: 5%;
    font-style: italic;
    font-size: xx-large;
}

h3 {
    // margin-left: 0%;
    margin-top: 6%;
    // font-style: italic;
    // font-size:larger;
    font-weight: 200px;
}

// .left {
//     margin-top: 5%;
// }